<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

    <menu id="root-menu" label="Openbox 3">

        <item label="Terminal">
            <action name="Execute">
                <execute>xfce4-terminal</execute>
            </action>
        </item>

        <item label="File Browser">
            <action name="Execute">
                <execute>thunar</execute>
            </action>
        </item>

        <item label="NotePad">
            <action name="Execute">
                <execute>gedit</execute>
            </action>
        </item>

        <item label="Virtual Keyboard">
            <action name="Execute">
                <execute>florence</execute>
            </action>
        </item>

        <separator />        

        <item label="Real-time trace view">
            <action name="Execute">
                <execute>scrttv</execute>
            </action>
        </item>

        <item label="Map View">
            <action name="Execute">
                <execute>scmv</execute>
            </action>
        </item>

        <item label="Origin Locator">
            <action name="Execute">
                <execute>scolv</execute>
            </action>
        </item>

        <item label="Event Parameters">
            <action name="Execute">
                <execute>scesv</execute>
            </action>
        </item>

        <item label="Helicorder">
            <action name="Execute">
                <execute>xfce4-terminal -e 'scheli --stream=GE.PLAI..BHZ --rows 10'</execute>
            </action>
        </item>

        <item label="Messaging Monitor">
            <action name="Execute">
                <execute>scmm</execute>
            </action>
        </item>

        <item label="Quality Control">
            <action name="Execute">
                <execute>scqcv</execute>
            </action>
        </item>

        <separator />

        <item label="Update">
            <action name="Execute">
                <execute>xfce4-terminal -e "seiscomp update-config;seiscomp restart"</execute>
            </action>
        </item>

        <item label="Config GUI">
            <action name="Execute">
                <execute>scconfig</execute>
            </action>
        </item>        

        <separator />

        <item label="Restart">
            <action name="Restart" />
        </item>
        <item label="Exit">
            <action name="Exit" />
        </item>
    </menu>

</openbox_menu>